
.uni-list-item__content-title{
	/* padding-bottom: 20rpx; */
	/* border-bottom: 1rpx solid #F6F6F6; */
	font-size: 30rpx!important;
}
.uni-list-item__content-note{
	font-size: 30rpx!important;
}
.uni-list-item__container:after{
	background-color: rgba(0,0,0,0)!important;
}
.uni-btn-icon{
	color: #FFFFFF!important;
}
uni-page-body .content{
	padding: 0!important;
}
uni-page-body .content .list{
	background-color: #F1F1F1!important;
	padding-top: 1rpx;
}
uni-page-body .content .list .one{
	margin: 20rpx;
	border-radius: 10rpx;
}
.uni-list-item{
	padding: 20rpx!important;
	margin: 20rpx!important;
	background: #FFFFFF!important;
	border-radius: 10rpx;
}
.uni-list{
	background-color: #F1F1F1!important;
}
.content-top{
	margin-top: 10rpx;
}
.green-button{
	background-color: #1D9081!important;
	color: #FFFFFF;
}
.uni-radio-input-checked{
	background-color: rgb(113,217,177)!important;
	border-color: rgb(113,217,177)!important;
}
.uni-checkbox-input{
	border-color: rgb(165, 165, 165)!important;
}
uni-checkbox.checked .uni-checkbox-input{
	background-color: rgb(113,217,177)!important;
	border-color: rgb(113,217,177)!important;
}
.search{
	z-index: 999;
	padding: 20rpx 20rpx 68rpx 20rpx!important;
	border-bottom: 0!important;}
.search .content .uni-input-input{
	text-align: left!important;
}
.search .content{
	padding-bottom: 0;
	position: fixed;
	z-index: 999;
	width: 96%!important;
}
.uni-picker-container .uni-picker-action.uni-picker-action-confirm{
	color: #1D9081;
}

.cu-list .cu-item .text-black{
	position: absolute;
	display: inline-block;
	width: 450rpx!important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.uni-input-input{
	text-align: right!important;
}